.search-container {
    width: 100%;
    height: 30vh;
    background-image: url('https://hips.hearstapps.com/hmg-prod/images/gettyimages-1253695385.jpg?crop=1xw:0.84375xh;center,top&resize=1200:*');
    background-size: cover;
    background-position: top;
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
  border: 2px solid var(--color-dark);
  border-radius: 4px;
  background-color: var(--color-primary);
  background-image: url('./assets/search.png');
  background-position: 0.5em 0.8em; 
  background-repeat: no-repeat;
  padding: 1em 2.4em;
  background-size: 1.5em;
  width: 40%;
  outline: none;
  color: var(--color-contrast);
}

input:focus {
  box-shadow: 4px 4px 5px rgba(211, 212, 247, 0.363);
}


input:-webkit-autofill,
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-text-fill-color: var(--color-contrast);
    transition: background-color 5000s ease-in-out 0s;
  }

  input:-webkit-autofill:hover {
    box-shadow: 4px 4px 5px rgba(211, 212, 247, 0.363);

  }

input::placeholder{
    color: var(--color-contrast);
}

.profile {
  position: relative;
  margin: 20px 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}


.repositories > ul {
  display: grid;
  gap: 1em;
  grid-auto-rows: 10.5em;
  grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
}

ul > li {
  display: flex;
  height: fit-content;
  justify-self: center;
}

.search-container{
  display: flex;
  gap: 0.9em;
}

.search {
  background-color: #29903B;
  color: var(--color-contrast);
  border-radius: 0.3em;
  border: 2px solid #29903B;
  cursor: pointer;
  font-weight: 600;
  background-image: url('./assets/search.png');
  background-position: 0.5em 0.8em; 
  background-repeat: no-repeat;
  padding: 1em 1.5em 1em 2.5em;
  background-size: 1.5em;
}

li {
  list-style: none;
  padding: 0;
}

ul {
  padding: 0 0 0 15px;
}
