/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  font-family: 'MonaSans';
  src: url('/fonts/MonaSans-Medium.ttf') format('truetype');
  font-weight: 700;
}


@font-face {
  font-family: 'MonaSans';
  src: url('/fonts/MonaSans-Regular.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'MonaSans';
  src: url('/fonts/MonaSans-Light.ttf') format('truetype');
  font-weight: 300;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  font-family: 'MonaSans', sans-serif;
  font-stretch: 150%;
  font-size: 16px;
  letter-spacing: 0.1em;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
  margin: 0;
  background-color: var(--color-primary);
  color: var(--color-contrast)
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
  margin: 0;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

h1 {
  font-size: 3em;
  font-weight: 500;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.1em;
  color: var(--color-secondary)
}

p{
  font-weight: 300;
}


/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

:root {
  --color-primary: #20283a;
  --color-dark: #0e161f;
  --color-contrast: #dbe0e6;
  --color-secondary: #768494;
}